body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f5f5f5;
}
.product-details{
    position: relative;
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)*/
}
.carousel-indicators .active img {
    opacity: 1;
    border: 2.5px solid  #4dad6d;
}
.carousel-indicators{
    position: relative;
    margin-top: 1rem;
}
.carousel-indicators li{
    position: relative;
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50px;
    height: auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    opacity: .8;
    transition: opacity .6s ease;
    
}
li>img{
    border-radius: 10px;
}
.carousel-item>img{
    border-radius: 10px;
}
.price {
    color: #4dad6d;
    font-weight: bolder;
}
.prev-price{
    font-size: 90%;
    color: #737070;
}
del{
    display: inline-block;
}
.addBtn{
    background-color:#365c9a ;
    color: #fff;
    transition: all .5s ease;
    outline-width: 0 !important;
    border: 2px solid #365c9a;
    border-radius: 100px;
}
.addBtn:hover{
    background-color: #fff;
    color:#365c9a;
    
}
.fa-heart{
    color:#365c9a;
    z-index: 10;
}
.fa-heart{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.fa-chevron-left{
    border: 2px solid #dee2e6;
    border-radius: 10px;
    padding: 10px 15px;
    color: #343a40;
}
a i:hover{
    color:#f8952d;
}
a i{
    color: #343a40;
}
@media (max-width:767.98px){
    .product-details{
        margin: auto;
    }
}
.nav-pills button{
    border: 1px solid #dee2e6;
    margin: 10px;
    
}
.nav-pills .active{
    color:#343a40 !important;
    background-color: #fff !important;
    border: 1px solid  #4dad6d;
}
.side-nav{
    background-color: white;
}
@media (max-width:992px){
    .side-nav{
        display: none;
    }
}
